body {
    font-size: 16px;
    color: #2b283a;
    font-family: 'Cormorant', serif;
    margin: 0;
}

.photos {
    display: flex;
    padding: 2px;
    transition: 0.3s;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2px;
    border-radius: 8px;
}

.column img {
    display: block;
    width: 100%;
    padding: 2px;
    border-radius: 8px;
}

.column img:hover {
    transform: scale(1.05);
}

.section-one,
.section-three {
    background-color: black;
    color: rgb(255, 255, 255);
}


.section-two {
    background-color: white;
    color: black;
}

h1,
h3 {
    margin: 0;
}

h1 {
    color: black;
    font-size: 60px;

}

h2 {
    margin-top: 0;
    font-size: 40px;
}

p {
    line-height: 23px;
}

/* layout */
h1,
h2,
h3,
footer {
    text-align: center;
}

header,
section,
footer {
    padding: 25px 0;
}